[Unit]
Description=Stromzaehlerdaten auslesen und in Datenbank einfügen
Requires=postgresql@11-main.service
After=postgresql@11-main.service

[Service]
Type=simple
ExecStart=/home/pi/stromzähler/stromzaehler

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
