[Unit]
Description=Read electric meter data and insert it into the database
Requires=postgresql@11-main.service
After=postgresql@11-main.service

[Service]
Type=simple
ExecStart=/home/pi/stromzähler/stromzaehler

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
