[Unit]
Description=Execute the daily tasks of the stromzaehler service
Requires=postgresql@11-main.service
After=postgresql@11-main.service

[Service]
Type=oneshot
ExecStart=/home/pi/stromzähler/stromzaehler_daily.sh
